<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Dev Bhakti▒Login</title>
</head>
<body style="background-color:lightgray";>
<center>
{% block content %}
    <h1>Tbot▒Login</h1>
<div class = 'form-group'>
    <form method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <a href="/member/register"<h2>Not a user?    </h2></a>
        <a href="" ><button class = 'btn btn-secondary'>Login</button></a>
    </form>
</div>
{%endblock%}
</center>
</body>
</html>