<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Tbot▒Register</title>
</head>
<body>
<center>
{% block content %}
<div class = 'form-group'>
    <form method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button class = 'btn btn-secondary'>Register</button>
    </form>
</div>
{%endblock%}
</center>
</body>
</html>