<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% if not user.is_authenticated %}
    <p>You will be redirected shortly to Login page</p>
    <meta http-equiv = "refresh" content = "3; url = /member/login" />
    {% endif %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:lightgray";>
{% if user.is_authenticated %}
<div class="form-group">
    <form method = "POST" action="upload" enctype="multipart/form-data">
        <input class="btn btn-secondary" type="file" name="Choose File"><br>
        <input class="btn btn-secondary" type="submit" name="Submit"><br>
            {% csrf_token %}
            {{form.as_p}}
    {{form.media}}
    </form>
</div>
{%endif%}
</center>
</body>
</html>
